.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-family: var(--font-stack-sys);
  font-size: 0.875rem;
  font-weight: 500;
}

.correct {
  font-size: 1.75rem;
}

.content {
  display: flex;
  align-items: center;
}

.fieldWrapper {
  display: flex;
  position: relative;
}

.button {
  background-color: lightgreen;
}
