.error {
  color: red;
  font-family: var(--font-stack-sys);
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  top: 100%;
  left: 0;
}

.correct {
  font-size: 1.75rem;
}

.content {
  display: flex;
  align-items: center;
}

.fieldWrapper {
  display: inline-flex;
  flex: 1 1 auto;
  position: relative;
}

.shrink {
  width: 200px;
}

@media screen and (min-width: 640px) {
  .shrink {
    width: auto;
  }
}

.button {
  background-color: lightgreen;
}
